@using CfPerfCalc.Services
@inherits LayoutComponentBase

@inject UserHandleCache userHandleCache

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <label>
                Your CF handle:
                <input type="text" value="@_userHandle" @onchange="HandleChanged"/>
            </label>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? _userHandle;

    protected override async Task OnInitializedAsync()
    {
        _userHandle = await userHandleCache.GetUserHandle();
    }

    private async Task HandleChanged(ChangeEventArgs arg)
    {
        _userHandle = arg.Value?.ToString();
        await userHandleCache.SetUserHandleAsync(_userHandle);
    }
}