@page "/"

<PageTitle>Cf perf calculator</PageTitle>
<p>This tool enables you to calculate performance rating for either virtual 
    and unrated contests.</p>
<p>Please set your user handle, otherwise you will not be added to the standings
    in case you participated virtually.</p>    
<p>For rating calculation, you will only be compared to official and out-of-bounds
    participants (i.e. NOT other virtual participants). This is because some people
    like to cheat in virtual contests and e.g. submit somebody else's code at minute 0.</p>